@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bebas+Neue&family=Fjalla+One&family=Noto+Sans+JP:wght@500&family=Nunito+Sans:opsz,wght@6..12,600&family=Nunito:wght@200;300;400;600;700&family=Roboto&display=swap');

.form-container {
   padding: 20px;
   background-color: #f7f7f7;
   border-radius: 5px;
   font-family: 'Roboto', sans-serif;
   width: 30%;
   margin: auto;
   margin-top: 10%;
}
h2{
   text-align: center;
   color: green;
}

.form-group {
   width: 60%;
   margin: auto;
   margin-bottom: 15px;
}

.form-group label {
   font-weight: bold;
   margin: 5px;
}

.form-group input {
   width: 100%;
   padding: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
   outline: none;
   /* border: none; */
}

.form-group input:focus{
   border: 2px solid green;
}
.btn {
   padding: 10px 20px;
   background-color: green;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 40%;
   margin-left: 31%;
}

.btn:hover {
   background-color:rgb(18, 102, 18);
   
}

.result {
   margin-top: 20px;
   padding: 10px;
   background-color: #f7f7f7;
   width: 50%;
   margin-left: 43%;
}